# Boston Housing Price Prediction w/ Keras and TF Backend

In [44]:
import pandas as pd
import numpy as np

from keras.models import Sequential
from keras.layers import Dense, Activation, Dropout, ActivityRegularization

from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error
from math import sqrt
from sklearn.preprocessing import MinMaxScaler

In [2]:
train_df = pd.read_csv('./train.csv', index_col='ID')

In [3]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 333 entries, 1 to 506
Data columns (total 14 columns):
crim       333 non-null float64
zn         333 non-null float64
indus      333 non-null float64
chas       333 non-null int64
nox        333 non-null float64
rm         333 non-null float64
age        333 non-null float64
dis        333 non-null float64
rad        333 non-null int64
tax        333 non-null int64
ptratio    333 non-null float64
black      333 non-null float64
lstat      333 non-null float64
medv       333 non-null float64
dtypes: float64(11), int64(3)
memory usage: 39.0 KB

In [4]:
train_df.head()

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
ID,,,,,,,,,,,,,,
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2
7,0.08829,12.5,7.87,0,0.524,6.012,66.6,5.5605,5,311,15.2,395.60,12.43,22.9

In [5]:
columns = ['chas', 'nox', 'rm', 'dis', 'ptratio', 'lstat']
targets = train_df['medv']
#predictors = train_df.drop('medv', axis=1)
predictors = train_df[columns]
X_train, X_test, y_train, y_test = train_test_split(predictors, targets, test_size=0.3, random_state=42)

# Build a Neural Network

In [88]:
model = Sequential()

In [89]:
model.add(Dense(60, activation='relu', input_shape=(6,)))
model.add(Dense(208, activation='relu'))
#model.add(Dropout(0.2))
model.add(Dense(416, activation='relu'))
model.add(Dropout(0.5))
model.add(Dense(208, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(52, activation='relu'))
model.add(Dense(13, activation='relu'))
model.add(Dense(1))

In [90]:
model.compile(optimizer='rmsprop', loss='mse')

In [91]:
model.fit(X_train, y_train, epochs=30)

Epoch 1/30
233/233 [==============================] - 1s 5ms/step - loss: 284.7092
Epoch 2/30
233/233 [==============================] - 0s 364us/step - loss: 108.4453
Epoch 3/30
233/233 [==============================] - 0s 254us/step - loss: 96.8109
Epoch 4/30
233/233 [==============================] - 0s 202us/step - loss: 60.9716
Epoch 5/30
233/233 [==============================] - 0s 247us/step - loss: 72.1990
Epoch 6/30
233/233 [==============================] - 0s 217us/step - loss: 70.3904
Epoch 7/30
233/233 [==============================] - 0s 235us/step - loss: 66.9711
Epoch 8/30
233/233 [==============================] - 0s 217us/step - loss: 65.7852
Epoch 9/30
233/233 [==============================] - 0s 199us/step - loss: 53.0498
Epoch 10/30
233/233 [==============================] - 0s 229us/step - loss: 55.0977
Epoch 11/30
233/233 [==============================] - 0s 302us/step - loss: 51.4710
Epoch 12/30
233/233 [==============================] - 0s 265us/step - loss: 60.0778
Epoch 13/30
233/233 [==============================] - 0s 301us/step - loss: 56.3619
Epoch 14/30
233/233 [==============================] - 0s 494us/step - loss: 64.1191
Epoch 15/30
233/233 [==============================] - 0s 520us/step - loss: 55.0271
Epoch 16/30
233/233 [==============================] - 0s 407us/step - loss: 43.4615
Epoch 17/30
233/233 [==============================] - 0s 463us/step - loss: 48.1149
Epoch 18/30
233/233 [==============================] - 0s 282us/step - loss: 35.3527
Epoch 19/30
233/233 [==============================] - 0s 308us/step - loss: 48.1580
Epoch 20/30
233/233 [==============================] - 0s 403us/step - loss: 37.9252
Epoch 21/30
233/233 [==============================] - 0s 305us/step - loss: 50.8649
Epoch 22/30
233/233 [==============================] - 0s 381us/step - loss: 38.9164
Epoch 23/30
233/233 [==============================] - 0s 343us/step - loss: 42.2729
Epoch 24/30
233/233 [==============================] - 0s 387us/step - loss: 32.9720
Epoch 25/30
233/233 [==============================] - 0s 364us/step - loss: 69.3478
Epoch 26/30
233/233 [==============================] - 0s 314us/step - loss: 30.6295
Epoch 27/30
233/233 [==============================] - 0s 407us/step - loss: 48.1104
Epoch 28/30
233/233 [==============================] - 0s 487us/step - loss: 39.4087
Epoch 29/30
233/233 [==============================] - 0s 524us/step - loss: 47.1680
Epoch 30/30
233/233 [==============================] - 0s 635us/step - loss: 32.1122

In [92]:
y_pred = model.predict(X_test)

In [93]:
mse = mean_squared_error(y_test, y_pred, multioutput='raw_values')
print('Root Mean Square Error: {}'.format(sqrt(mse)))

Root Mean Square Error: 4.206881522590607

In [94]:
score = model.evaluate(X_test, y_test, batch_size=128)
print('Score (MSE): {}'.format(score))

100/100 [==============================] - 0s 3ms/step
Score (MSE): 17.697851181030273